*.o
*.obs
*.ini
*.local
Release
Release_Build
Debug_Build
__history
RTKLib.pro.user

# visual studio
*.sdf
*.suo
*.user
*.filters
Debug
Release

brd/
build/
data/
test/
util/

# app
app/appcmn/
app/rtkconv/
app/rtkget/
app/rtklaunch/
app/rtklib_consapp.groupproj
app/rtklib_winapp.groupproj
app/rtknavi/
app/rtknavi_mkl/
app/rtknavi_qt/
app/rtknavi_win64/
app/rtkplot/
app/rtkpost/
app/rtkpost_mkl/
app/rtkpost_win64/
app/rtkvideo/
app/rtkvplayer/
app/srctblbrows/
app/strsvr/
app/strsvr_qt/
