# binary
*.o
*.a
*.so
*.obj
*.lib
*.dll
convbin
pos2kml
rnx2rtkp
rtkrcv
str2str

# directory
brd/
build/
data/
test/
util/

# unwanted app
app/appcmn/
app/rtkconv/
app/rtkget/
app/rtklaunch/
app/rtklib_consapp.groupproj
app/rtklib_winapp.groupproj
app/rtknavi/
app/rtknavi_mkl/
app/rtknavi_qt/
app/rtknavi_win64/
app/rtkplot/
app/rtkpost/
app/rtkpost_mkl/
app/rtkpost_win64/
app/rtkvideo/
app/rtkvplayer/
app/srctblbrows/
app/strsvr/
app/strsvr_qt/

# visual studio
*.sdf
*.suo
*.user
Debug
Release

# etc
*.obs
*.pos
*.[0-9]o
*.[0-9]n
*.ini
*.local
Release_Build
Debug_Build
__history
